@CHARSET "EUC-KR";

html {
	height: calc(100% - 20px);
}

body {
	height: 100%;
	background-color: gray;
}

.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {background-color: #555555;} /* Black */
.button2 {background-color: #f44336;} /* Red */ 
.button3 {background-color: #008CBA;} /* Blue */
.button4 {background-color: #ffffff;} /* White */  

.button5 {background-color: #4CAF50; border-radius: 50%;} /* +, - */



canvas {
	cursor: crosshair;
	
	max-width: calc(100% - 10px);
	max-height: calc(100% - 20px);
	position: relative;
	margin: 5px;
	background-color: white;
    box-shadow: 5px 5px 8px #333333;
}